* {
    margin: 0;
    padding: 0;
    font-family: sans-serif Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
    color: orange;
}
header {
    background-color: #222;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    padding: 10px 10%;
    justify-content: space-between;
}
.header__title {
    color: orange;
    span {
        color: orangered;
        font-size: 42px;
    }
}
.cart-button {
    background: none;
    width: 5%;
    outline: none;
    border: none;
    font-size: large;
    transition: 1s;
    border-right: 3px solid orange;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    color: white;
    align-items: center;
    &:hover {
        width: 10%;
        background-color: orange;
        color: black;
        transition: 1s;
    }
}
main {
    background-color: white;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.item__card {
    width: 15%;
    border-bottom: 3px solid orange;
    padding: 30px;
    background-color: white;
    flex-wrap: wrap;
    img {
        width: 100%;
    }
    h3 {
        color: darkorange;
        margin-top: 10px;
    }
    p {
        margin-top: 10px;
    }
    .btn {
        margin: 0 auto;
        margin-top: 20px;
        width: 50%;
        font-size: 14px;
        padding: 5px;
        background-color: white;
        outline: none;
        box-shadow: none;
        border: none;
        border-left: 2px solid orange;
        cursor: pointer;
        transition: 1s;
        &:hover {
            width: 100%;
            background-color: orange;
            transition: 1s;
        }
    }
}
.cart_card {
    display: flex;
    width: 100%;
    border-bottom: 3px solid orange;
    padding: 30px;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    img {
        width: 50%;
    }
    h3 {
        color: darkorange;
        margin-top: 10px;
        font-size: 42px;
    }
    p {
        margin: 60px 0;
        font-size: 24px;
    }
    .btn {
        width: 50%;
        font-size: 14px;
        padding: 5px;
        background-color: white;
        outline: none;
        box-shadow: none;
        border: none;
        border-left: 2px solid orange;
        cursor: pointer;
        transition: 1s;
        &:hover {
            width: 100%;
            background-color: orange;
            transition: 1s;
        }
    }
}
.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: none;
    padding: 30px 0;
    background: none;
    flex-wrap: wrap;
}
.cart__wrapper {
    width: 100%;
    justify-content: space-around;
    border: none;
    padding: 30px 0;
    background: none;
}
footer {
    width: 100%;
    position: fixed;
    background-color: black;
    bottom: 0;
    padding: 20px;
    border-top: 4px solid orange;
    h2 {
        color: #777;
    }
}